.container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.562);
    border-radius: 60px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
}

.container > .img {
    margin-left: 15px;
    padding: 5px;
}

.container > .img > img {
    width: 100px;
}

.container > .content {
    padding: 20px;
    text-align: left;
    flex-shrink: 1;
}

.container > .content > h1 {
    text-transform: uppercase;
}

.container > .content > p {
    font-size: .6rem;
    overflow: hidden;
}   