.container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.562);
    border-radius: 60px;
    overflow: hidden;
    cursor: pointer;
    transition: .3s ease;
}

.container > .img {
    margin-left: 6px;
    padding: 10px;
}

.container > .img > img {
    width: 100px;
    padding: 10px;
    border-radius: 50%;
}

.container > .content {
    padding: 20px;
    padding-right: 0;
    text-align: left;
}

.container > .content > h1 {
    text-transform: uppercase;
    font-size: 1.8rem;
}

.container > .content > p {
    font-size: .6rem;
    overflow: hidden;
}   