<div class="container">
    <h1>Paradigma <br> Orientado a Eventos</h1>
    <div class="header">
        <div class="content-header">
            <h2>O que é Paradigma?</h2>
            <p>Dentro da computação, um paradigma de programação refere-se ao estilo ou
                abordagem adotada para resolver problemas e organizar a lógica de um programa.
                Cada paradigma oferece um conjunto de princípios e práticas que determinam como
                o código é estruturado, como as soluções são desenvolvidas e como os
            programadores interagem com as máquinas.</p>
        </div>
        <div class="img-header">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLB6pVaBUIyOAUDLR2lI3Gc1D_rMLuBe9iww&s" alt="">
        </div>
    </div>
    <div class="section2">
        <div class="content-section2">
            <h2>O que é Programação Orientada a Eventos?
            </h2>
            <p>A programação orientada a eventos é um estilo de programação onde o que acontece
                no programa depende de 'eventos'. Esses eventos podem ser cliques de mouse,
                toques na tela, pressionar teclas, ou até mensagens de outros programas. Ou seja, o
                programa fica 'esperando' esses eventos acontecerem e, quando eles ocorrem, ele
                sabe o que fazer.
                </p>
        </div>
        <div class="img-section2">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQLB6pVaBUIyOAUDLR2lI3Gc1D_rMLuBe9iww&s" alt="">
        </div>
    </div>
    <div class="linha-do-tempo">
        <h2>Como isso começou?</h2>
        <div class="time-line">
            <span>TIMELINE</span>
            <div class="cards">
                <img src="assets/utils/line.png" class="line" alt="">
                <app-card-time-line class="card1"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line>
                <app-card-time-line-reverse class="card2"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line-reverse>
                <app-card-time-line class="card1"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line>
                <app-card-time-line-reverse class="card2"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line-reverse>
                <app-card-time-line class="card1"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line>
                <app-card-time-line-reverse class="card2"
                title="titulo"
                desc="asbkasjbldka as dsd sad asdsadas dsa"
                img="assets/imgs/map.png"
                ></app-card-time-line-reverse>
            </div>
        </div>
    </div>
</div>