<div class="container" [@staggeredAnimation]>
    <img src="assets/backgrounds/detail.png" class="img1" alt="detail">
    <h1 class="animate-me">API Rest - Champions League</h1>
    <p class="animate-me">Um projeto API Node.js com TypeScript para os <strong>clubes</strong> e <strong>jogadores</strong> da Champions League!</p>
    <a class="animate-me" href="https://github.com/fsantosandrade/node-api-rest-champions-league" target="_blank">Repositório</a>
    <img src="assets/backgrounds/detail.png" class="img2" alt="detail">
</div>