.container {
    width: 100vw;
    display: flex;
    flex-flow: column;
    list-style: none;
    align-items: center;

    & img {
        height: 100vh;
        position: absolute;
        z-index: 1;
        filter: opacity(0.6);
    }
    
    & .img2 {
        left: 0;
        top: 0;
        transform: rotateY(180deg);
    }
    
    & .img1 {
        right: 0;
        top: 0;
    }

    & .integrantes > h1 {
        margin-bottom: 25px;
        text-align: center;
    }

    & .integrantes > ul {
        display: flex;
        text-align: center;
        gap: 20px;
        background: var(--secondary-color);
        padding: 40px;
        border-radius: 25px;
        list-style: none;
        margin-bottom: 50px;
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.425);
    }

    & .refs {
        display: flex;
        gap: 50px;

        & .refs-bibliograficas, .refs-artigos-livros {
            background-color: var(--secondary-color);
            padding: 40px 40px;
            width: 600px;
            border-radius: 25px;
            box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.425);
            z-index: 2;

            & h2 {
                margin-bottom: 8px;
                font-size: 1.5rem;
            }

            & a {
                color: var(--terciary-color);
            }

            & a:hover {
                text-decoration: underline;
            }
        }
    }
}