<div class="container">
    <img src="assets/backgrounds/detail.png" class="img1" alt="detail">
    <div class="integrantes">
        <h1>Integrantes:</h1>
        <ul>
            <li>Felipe Santos: 31386334</li>
            <li>Pedro Castro: 29546923</li>
            <li>Christian de Sousa: 27009866</li>
            <li>Yury Moura: 29787459</li>
            <li>Adilson Lopes: 29881510</li>
            <li>Breno Luiz: 23739690</li>
        </ul>
    </div>
    <div class="refs">
        <ul class="refs-bibliograficas">
            <h2>Referências Bibliograficas:</h2>
            <li>
                <a href="https://www.ifi.unicamp.br/~assis/Revista-Thema-V15-p1562-1568%282018%29.pdf" target="_blank">https://www.ifi.unicamp.br/~assis/Revista-Thema-V15-p1562-1568%282018%29.pdf</a>
            </li>
            <li>
                <a href="https://maestrovirtuale.com/programacao-orientada-a-eventos-recursos-exemplos-beneficios-aplicativos/" target="_blank">https://maestrovirtuale.com/programacao-orientada-a-eventos-recursos-exemplos-beneficios-aplicativos/</a>
            </li>
            <li>
                <a href="https://blog.betrybe.com/tecnologia/poo-programacao-orientada-a-objetos/" target="_blank">https://blog.betrybe.com/tecnologia/poo-programacao-orientada-a-objetos/</a>
            </li>
            <li>
                <a href="https://alexribeiro.com.br/eda-arquitetura-orientada-a-eventos-ff197b2b429c" target="_blank">https://alexribeiro.com.br/eda-arquitetura-orientada-a-eventos-ff197b2b429c</a>
            </li>
        </ul>
        <ul class="refs-artigos-livros">
            <h2>Livros e artigos tomados como referências:</h2>
            <li>Engelbart, D. C. (1962). “Augmenting Human Intellect: A Conceptual Framework.” SRI Summary Report AFOSR-3223.</li>
            <li>Thacker, C. P., Lampson, B. W., & Sproull, R. F. (1980). “Alto: A Personal Computer.” In Computer Structures: Principles and Examples (pp. 549-572). McGraw-Hill.</li>
            <li>Hertzfeld, A. (2004). Revolution in the Valley: The Insanely Great Story of How the Mac Was Made. O’Reilly Media.</li>
            <li>Levy, S. (1994). Insanely Great: The Life and Times of Macintosh, the Computer that Changed Everything. Penguin Books.</li>
            <li>Petzold, C. (1998). Programming Windows. Microsoft Press.</li>
            <li>Young, D. A., & John, T. E. (1994). The X Window System: Programming and Applications with Xt. Prentice Hall.</li>
            <li>Flanagan, D. (2006). JavaScript: The Definitive Guide. O’Reilly Media.</li>
            <li>Crockford, D. (2008). JavaScript: The Good Parts. O’Reilly Media.Crockford, D. (2008). JavaScript: The Good Parts. O’Reilly Media.</li>
        </ul>
    </div>
    <img src="assets/backgrounds/detail.png" class="img2" alt="detail">
</div>