<div class="container" [@staggeredAnimation]>
    <img src="assets/backgrounds/detail.png" class="img1" alt="detail">
    <div class="integrantes">
        <h1 class="animate-me">Integrantes</h1>
        <table class="animate-me">
            <tbody>
                <tr>
                    <td>Felipe Santos: 31386334</td>
                    <td>Pedro Castro: 29546923</td>
                    <td>Christian de Sousa: 27009866</td>
                </tr>
                <tr>
                    <td>Yury Moura: 29787459</td>
                    <td>Adilson Lopes: 29881510</td>
                    <td>Breno Luiz: 23739690</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="refs animate-me">
        <ul class="refs-bibliograficas">
            <h2>Referências Bibliograficas:</h2>
            <li>
                <a href="https://www.ifi.unicamp.br/~assis/Revista-Thema-V15-p1562-1568%282018%29.pdf" target="_blank">https://www.ifi.unicamp.br/~assis/Revista-Thema-V15-p1562-1568%282018%29.pdf</a>
            </li>
            <li>
                <a href="https://maestrovirtuale.com/programacao-orientada-a-eventos-recursos-exemplos-beneficios-aplicativos/" target="_blank">https://maestrovirtuale.com/programacao-orientada-a-eventos-recursos-exemplos-beneficios-aplicativos/</a>
            </li>
            <li>
                <a href="https://blog.betrybe.com/tecnologia/poo-programacao-orientada-a-objetos/" target="_blank">https://blog.betrybe.com/tecnologia/poo-programacao-orientada-a-objetos/</a>
            </li>
            <li>
                <a href="https://alexribeiro.com.br/eda-arquitetura-orientada-a-eventos-ff197b2b429c" target="_blank">https://alexribeiro.com.br/eda-arquitetura-orientada-a-eventos-ff197b2b429c</a>
            </li>
            <li>
                WIKIPEDIA. TypeScript. <a href="https://pt.wikipedia.org/wiki/TypeScript" target="_blank">https://pt.wikipedia.org/wiki/TypeScript</a>
            </li>
            <li>
                WIKIPEDIA. JavaScript. <a href="https://pt.wikipedia.org/wiki/JavaScript" target="_blank">https://pt.wikipedia.org/wiki/JavaScript</a>
            </li>
            <li>
                WIKIPEDIA. Anders Hejlsberg. <a href="https://pt.wikipedia.org/wiki/Anders_Hejlsberg" target="_blank">https://pt.wikipedia.org/wiki/Anders_Hejlsberg</a>
            </li>
        </ul>
        <ul class="refs-artigos-livros">
            <h2>Livros e artigos tomados como referências:</h2>
            <li>Engelbart, D. C. (1962). “Augmenting Human Intellect: A Conceptual Framework.” SRI Summary Report AFOSR-3223.</li>
            <li>Thacker, C. P., Lampson, B. W., & Sproull, R. F. (1980). “Alto: A Personal Computer.” In Computer Structures: Principles and Examples (pp. 549-572). McGraw-Hill.</li>
            <li>Hertzfeld, A. (2004). Revolution in the Valley: The Insanely Great Story of How the Mac Was Made. O’Reilly Media.</li>
            <li>Levy, S. (1994). Insanely Great: The Life and Times of Macintosh, the Computer that Changed Everything. Penguin Books.</li>
            <li>Petzold, C. (1998). Programming Windows. Microsoft Press.</li>
            <li>Young, D. A., & John, T. E. (1994). The X Window System: Programming and Applications with Xt. Prentice Hall.</li>
            <li>Flanagan, D. (2006). JavaScript: The Definitive Guide. O’Reilly Media.</li>
            <li>Crockford, D. (2008). JavaScript: The Good Parts. O’Reilly Media.Crockford, D. (2008). JavaScript: The Good Parts. O’Reilly Media.</li>
            <li>
                <a href="https://www.amazon.com.br/Aprendendo-TypeScript-Habilidades-Desenvolvimento-JavaScript/dp/658605799X" target="_blank">https://www.amazon.com.br/Aprendendo-TypeScript-Habilidades-Desenvolvimento-JavaScript/dp/658605799X </a>
            </li>
            <li>THIAGO DA SILVA ADRIANO. Guia prático de TypeScript: Melhore suas aplicações JavaScript, 2021.</li>
            <li>DAVID FLANAGAN. JavaScript: O Guia Definitivo, 1996.</li>
            <li>JONATHAN ERICKSON. 2001 Dr. Dobb's Excellence in Programming Award. Acesso 03 out 2024.</li>
            <li>JEAN DE OLIVEIRA LOPES. PHP ou TypeScript: uma comparação de duas linguagens para web pelas suas características. Trabalho de Conclusão do Curso Superior de Tecnologia em Sistemas Para Internet. Acesso para abstração base. Acesso 03 out 2024.
            </li>
        </ul>
    </div>
    <img src="assets/backgrounds/detail.png" class="img2" alt="detail">
</div>