.container {
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 105px 70px;
    border-radius: 20px;
}

.container > .desc {
    max-width: 400px;
}

.container > .desc > h1 {
    margin-bottom: 15px;
    text-align: right;
}

.container > .desc > p {
    text-align: right;
}

.container > .ilustration {
    position: absolute;
}

.container > .ilustration > img:nth-child(1){
    position: relative;
    left: calc(-100% + 170px);
    z-index: 2;
}

.container > .ilustration > img:nth-child(2){
    position: relative;
    left: calc(-100% + 70px);
    bottom: 15px;
    z-index: 1;
}