.container > .section1 {
    display: flex;
    gap: 30px;
    text-indent: 20px;
    margin-bottom: 100px;
}

.container > .section2 {
    margin-bottom: 70px;
}

.container > .section2 > .content-section2 {
    display: flex;
    flex-flow: row-reverse;
    gap: 30px;

    & p {
        text-indent: 20px;
    }

    & h2 {
        margin-bottom: 20px;
        font-size: 2.2rem;
        text-align: left;
    }

    & .img-section2 > img {
        width: 400px;
        border-radius: 25px;
    }
}

.container > .section3 {
    & h2 {
        text-align: center;
        font-size: 2rem;margin-bottom: 20px;
    }

    & p {
        margin-bottom: 70px;
        text-indent: 20px;
    }

    & .cronologia > .cards {
        margin-top: 70px;

        & .card-section1, .card-section2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }

        & .card-section3 {
            display: flex;
            justify-content: center;
            margin-bottom: 100px;
        }
    }
}

.container > .section4 {
    margin-bottom: 70px;

    & h2 {
        text-align: center;
        font-size: 2rem;
        margin-bottom: 30px;
    }

    & p {
        text-indent: 20px;
        margin-bottom: 20px;
    }

    & img {
        width: 100%;
        margin-bottom: 30px;
        border-radius: 25px;
    }
}

.container > .section5 {
    margin-bottom: 50px;

    & h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    & p {
        text-indent: 20px;
        margin-bottom: 15px;
    }

    & h3 {
        margin-bottom: 20px;
        font-size: 1.5rem;
    }

    & ul {
        display: flex;
        flex-flow: column;
        gap: 10px;
        margin-left: 15px;
    }
}

.container > .section6 {
    background-color: var(--background-color);
    padding: 20px 0;

    & .content-section6 {
        margin: 20px 0;
    }

    & h2 {
        margin: 30px 0 50px 0;
        font-size: 2.5rem;
        text-align: center;
    }

    & .content-section6 > .cards-vantagens {
        padding: 20px;
        border-radius: 40px;
        background-color: rgb(53, 50, 50);
        width: 30%;
        margin: auto;
        transition: .3s ease;
    }

    & .content-section6 > .cards-vantagens:hover {
        cursor: pointer;
        width: 40%;
    }

    & .content-section6 > .cards-vantagens > h3 {
        text-align: center;
        color: white;
        margin: 15px;
    }

    & .content-section6 > .cards-vantagens > .cards {
        display: flex;
        flex-flow: column;
        gap: 10px;
    }
}