.container {
    width: 950px;
    margin: auto;
    padding: 15px 0 30px 0;
    text-align: justify;
}

.container > h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 30px 0 50px 0;
}

.container > .header {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.container > .header > .content-header > h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.container > .header > .img-header > img {
    width: 400px;
    border-radius: 25px;
}

.container > .javascript {
    background-color: var(--background-secondary-color);
    padding: 30px;
    margin-bottom: 100px;
    border-radius: 40px;
}

.container > .javascript > h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.container > .javascript > img {
    height: 400px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}

.container > .javascript > p {
    text-indent: 20px;
}