.container {
    width: 950px;
    margin: auto;
    padding: 15px 0 30px 0;
    text-align: justify;
}

.container > h1 {
    font-size: 2.8rem;
    text-align: center;
    margin: 30px 0 50px 0;
}

.container > .header {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.container > .header > .content-header > h2 {
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.container > .header > .img-header > img {
    width: 400px;
    border-radius: 25px;
}