<div class="container">
    <img src="assets/imgs/detail.png" class="img1" alt="detail">

    <h1>Paradigma<b>.</b> Eventos<b>.</b> Typescript<b>.</b></h1>
    <p>Conheça o Paragigma Orientado a eventos e sua relação <br>junto aos aspectos do superset Typescript.</p>

    <div class="cards">
        <a href="">
            <div class="card1">
                <h1>Paradigma Orientado a Eventos</h1>
                <img src="assets/imgs/map.png" alt="mapa">
                <div id="desc">
                    <p>Conheça o Paradigma Orientado a Eventos</p>
                    <img src="assets/utils/arrow.png" alt="">
                </div>
            </div>
        </a>
        <a href="">
            <div class="card2">
                <h1>Typescript</h1>
                <div class="imgs">
                    <img src="assets/imgs/pc.png" alt="computador">
                    <img src="assets/imgs/typescript.png" alt="typescript">
                    <img src="assets/imgs/magic.png" alt="cajado">
                </div>
                <div id="desc">
                    <p>Conheça o Typescript, sua história e peculiaridades</p>
                    <img src="assets/utils/arrow.png" alt="">
                </div>
            </div>
        </a>
        <a href="">
            <div class="card3">
                <h1>Typescript e os Eventos</h1>
                <div class="imgs">
                    <img src="assets/imgs/pc.png" alt="computador">
                    <img src="assets/imgs/map.png" alt="mapa">
                </div>
                <div id="desc">
                    <p>A relação Typescript / Eventos</p>
                    <img src="assets/utils/arrow.png" alt="">
                </div>
            </div>
        </a>
    </div>

    <img src="assets/imgs/detail.png" class="img2" alt="detail">
</div>