<div class="container">
    <div class="itens-menu__container">
        <ul class="itens">
            <li>
                <a routerLink="">Home</a>
            </li>
            <li>
                <a routerLink="paradigma">Paradigma</a>
            </li>
            <li>
                <a routerLink="typescript">Typescript</a>
            </li>
            <li>
                <a routerLink="project">Projeto</a>
            </li>
            <li>
                <a routerLink="about">About</a>
            </li>
        </ul>
    </div>
</div>